@model RRS.FunctionApp.Views.PocTemplateModel
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        Hi @(Model.Name ?? "Anonymous human being"), check out this sample template!
    </body>
</html>
